.savepostcard{
    display: flex;
    background-color: rgb(43, 43, 150);
    margin : 5px;
    padding : 5px;
    border-radius: 20px;
    width : 300px;
    
}

.savepostcard-content{

}

.savepostcard-contentuserinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px ;
}

.savepostcard-contentuserinfoavatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 1px 10px 10px 0;
    border: 2px solid white;
    padding: 2px;
}

.savepostcard-contentinfodetail{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.savepostcard-contentmiddle{
    padding: 10px 0;
    border-bottom: 2px solid white;
}

.savepostcard-contentmiddle img,
.savepostcard-contentmiddle video{
    width: 100%;
    object-fit: cover;
    height: 250px;
    
}


.savedpostcard-contentend{
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    align-items: center;
}

.savedpostcard-contentenditem{
    display: flex;
    align-items: center;
    
}

.savedpostcard-contentenditemtext{
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    color: white;
    
}


.savedpostcard-contentendtime{
    display: flex;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    color: white;
    
}

.savedpostcard-contentendtimeformat{
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}

.savedpostcard-contentendtimetext{
    font-weight: 500;
    font-size: 12px;
}

.savepostcard-contentinfodetailfullname{
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
}

.savepostcard-contentinfodetailusername{
    font-weight: 400;
    font-size: 10px; 
}